* {
    margin: 0;
    padding: 0;
    top: 0;
}

/* Color Theme */

$rosewater:   #F5E0DC;
$flamingo:    #F2CDCD;
$mauve:       #DDB6F2;
$pink:        #F5C2E7;
$maroon:      #E8A2AF;
$red:         #F28FAD;
$peach:       #F8BD96;
$yellow:      #FAE3B0;
$green:       #ABE9B3;
$teal:        #B5E8E0;
$blue:        #96CDFB;
$sky:         #89DCEB;
$lavender:    #C9CBFF;

$black0:      #161320;
$black1:      #1A1826;
$black2:      #1E1E2E;
$black3:      #302D41;
$black4:      #575268;
$gray0:       #6E6C7E;
$gray1:       #988BA2;
$gray2:       #C3BAC6;
$white:       #D9E0EE;

// Font

@font-face {
    font-family: 'Hack';
    src: url("/fonts/Hack-Regular.ttf");
}

@font-face {
    font-family: 'Hack';
    src: url("/fonts/Hack-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Hack';
    src: url("/fonts/Hack-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Hack';
    src: url("/fonts/Hack-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: Hack, sans-serif;
}

header {
    background-color: $black0;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: $mauve;
    font-style: oblique;
    font-size: 4em;
    text-decoration: underline;
}

main {
    height: 80vh;
    background-color: $black0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: $white;
}

.content {
    text-align: center;
}

.root, .article-home {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-home {
    position: relative;
    padding-left: 35px;
    margin-top: 5px;
}

.root-icon, .article-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.tree {
    position: absolute;
    left: 0;
}

.tree-mid {
    width: 32px;
    height: 37px;
}

.tree-end {
    top: -3px;
    width: 32px;
    height: 20px;
}

.root-title, .article-filename {
    font-size: 1.5em;
    color: $white;
}

.root-title {
    text-decoration: underline;
}

.article-filename {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.article-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-title {
    font-size: 2.6em;
}

.article-date {
    margin-top: 10px;
}

.article-content {
    font-size: 1.1em;
    width: 60%;
    padding-top: 20px;
}

hr {
    width: 60%;
    size: 2px;
    border: none;
    border-top: 2px solid $lavender;
    color: $lavender;
}